h1 {
    color:darkgrey;
    font-size: 45px;
}

p {
    font-zise:20px;  
}

.intro {
   color:lightcoral;
}

.para1 { 
   color:lightcoral;
}

.para2 {
    color:lightcoral;
}

.para3 {
    color: lightcoral
}

.para4 {
    color: lightcoral
}



img {
    width: 500px;
}